.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* margin-top: 30px; */
    border:none
}
.icono {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
  }
  .custom-text{
    color:rgb(227, 196, 40);
    font-weight: bold;
  }
/* .icono-moto {
    background-image: url('../../../../../assets/iconos/moto.jpg');
  } */
  
  /* .icono-transportation {
    background-image: url('ruta-a-la-imagen-de-icono-transportation');
  } */