.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}
.icono {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
  }
.icono-moto {
    background-image: url('../../../../../assets/iconos/moto.jpg');
  }
  
  /* .icono-transportation {
    background-image: url('ruta-a-la-imagen-de-icono-transportation');
  } */