<table mat-table [dataSource]="gastos" class="mat-elevation-z8" mat-skeleton>
  <div *ngIf="gastos; else loading">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Name Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-skeleton class="custom-text">Descripcion</th>
      <td mat-cell *matCellDef="let element" class="text">{{ element.descripcion }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="importe">
      <th mat-header-cell *matHeaderCellDef mat-skeleton class="custom-text">Importe</th>
      <td mat-cell *matCellDef="let element" class="text">{{ element.importe }}&nbsp;€</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-skeleton class="custom-text">Fecha</th>
      <td mat-cell *matCellDef="let element" class="text">
        {{ formatDate(element.fecha) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-skeleton class="custom-text">Tipo</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="iconos[element.tipo]" alt="Tipo de gasto" class="icono">
        <!-- {{ element.tipo }} -->
      </td>
    </ng-container>
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef mat-skeleton class="custom-text">Opciones</th>
      <td mat-cell *matCellDef="let element">
        <button class="button" (click)="delete(element._id)">
          <img src="assets/iconos/borrar.jpg" alt="Tipo de gasto" class="icono">
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </div>
</table>

<ng-template #loading>
  carfando.......
  <app-loading></app-loading>
</ng-template>
<div class="button">
  
  <div *ngIf="suma; else nosuma">
    <button mat-raised-button color="warn" class="button" style="border-radius: 29px" (click)="resetSuma()">{{ suma }} €</button>
    <!-- <button (click)="sumaImportes()">{{ suma }}</button> -->
  </div>
  <ng-template #nosuma>
    <button mat-raised-button color="primary" style="border-radius: 29px;" (click)="sumaImportes()">Total</button>
    <!-- <button (click)="sumaImportes()">Total</button> -->
  </ng-template>
</div>
