<!-- <div
  class="card"
  (mouseenter)="showDeleteButton = true"
  (mouseleave)="showDeleteButton = false"
  (mousemove)="onMouseMove($event)"
>
  <div class="card-content">
    asjodhajosdbhj
  </div>
  <button class="delete-button" [ngClass]="{ show: showDeleteButton }">
    Eliminar
  </button>
  <button class="edit-button" [ngClass]="{ show: showEditButton }">
    Edit
  </button>
</div> -->
<div class="card" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
    <div class="card-content">
      <!-- Contenido de la tarjeta -->
    </div>
    <button class="delete-button" [ngClass]="{'show': showDeleteButton}">Eliminar</button>
  </div>
