<div className="header">
      <div>
         <!-- <img src={logo} className="header__logo" alt={logo} />
        <Avatar className="header__logo"
            sx={{ width: 68, height: 68 }}
            src={logo}
            aria-label="recipe"
          ></Avatar> -->
      </div>
      <div className="header__name">
        <h1> Café Bar Santa Ana</h1>
         <img src={text} className="header__text" alt={text} /> 
        <p>
          c/Santa Ana&nbsp;-Plasencia
        </p>
      </div>
      <div className="header__i18n">
        
      </div>
    </div>