

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
    <mat-card>
      <mat-card-content>
        <img
          src="../../../../../assets/logo.jpg"
          width="130"
          height="90"
          alt=""
          style="margin-left: 40px"
        />
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="registerGasto">
          <mat-form-field appearance="fill">
            <mat-label>Descripcion:</mat-label>
            <input matInput formControlName="descripcion" />
            <mat-error *ngIf="registerGasto.get('descripcion')?.invalid">
              Descripcion obligatoria
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Importe:</mat-label>
            <input matInput formControlName="importe" />
            <mat-error *ngIf="registerGasto.get('importe')?.invalid">
              El importe es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Fecha:</mat-label>
            <input matInput formControlName="fecha" />
            <mat-error *ngIf="registerGasto.get('fecha')?.invalid">
              Obligatorio y max. 4 dígitos.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Tipo de Gasto</mat-label>
            <mat-select disableRipple formControlName="tipo">
              <mat-option value="4x4">4x4</mat-option>
              <mat-option value="Berlina">Berlina</mat-option>
              <mat-option value="Electrico">Eléctrico</mat-option>
              <mat-option value="Deportivo">Deportivo</mat-option>
              <mat-option value="MuscleCar">Muscle Car</mat-option>
              <mat-option value="Emergencias">Emergencias</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-content>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!registerGasto.valid"
            >
              Enviar
            </button>
          </mat-card-content>
        </form>
      </mat-card-content>
    </mat-card>
    </div>
    </div>
  </div>
