<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center">
        <mat-card>
          <mat-card-content>
            <img
              src="../../../../../assets/logo.jpg"
              width="130"
              height="90"
              alt=""
              style="margin-left: 3px"
            />
            <form novalidate  [formGroup]="registerTarea" novalidate (ngSubmit)="onSubmit()" 
            
            >
            <!-- [formGroup]="registerTarea" -->
              <mat-form-field class="datepicker-field" appearance="fill">
                <mat-label>Descripcion:</mat-label>
                <input matInput formControlName="descripcion" />
                <mat-error *ngIf="registerTarea.get('descripcion')?.invalid">
                  Descripción obligatoria
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="datepicker-field">
                <mat-label>Prioridad:</mat-label>
                <mat-select disableRipple formControlName="prioridad">
                    <mat-option value="alta">Alta</mat-option>
                    <mat-option value="media">Media</mat-option>
                    <mat-option value="baja">Baja</mat-option>
                  </mat-select>
                <mat-error *ngIf="registerTarea.get('prioridad')?.invalid">
                  La prioridad es requerido.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="datepicker-field">
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Fecha"
                  formControlName="fecha"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill" class="datepicker-field">
                <mat-label>Tipo</mat-label>
                <mat-select disableRipple formControlName="tipo">
                  <mat-option value="personal">Personal</mat-option>
                  <mat-option value="trabajo">Trabajo</mat-option>
                  <mat-option value="ocio">Ocio</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-card-content>
                <div *ngIf="registerTarea.valid">
                <button
                  mat-raised-button
                  color="primary" style="border-radius: 29px;"
                >
                  Enviar
                </button>  
                </div>
                
                <!-- <button
                  mat-raised-button
                  color="primary"
                  [disabled]="!registerGasto.valid"
                >
                  Enviar
                </button> -->
              </mat-card-content>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
