.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}
.icono {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
  }
  .custom-text{
    color:red;
    font-weight: bold;
  }