
.main {
  min-height: 100vh;
  max-height: 1800px;
   /* height: auto; */
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .main {
    min-height: 100px;
    max-height: 800px; 
    /* height: auto; */
    /* overflow-y: auto; */
  }
}

.footer {
  flex-shrink: 0;
}
 
  