<app-header></app-header>
<div class="bg-image">
    <button
        class="button"
        mat-raised-button
        color="primary"
        matBadge="3"
        matBadgePosition="after"
        matBadgeColor="accent"
      >
        T.Pendientes
      </button>
      <button
        mat-raised-button
        color="warn"
        matBadge="-"
        matBadgePosition="after"
        matMatBadgeSize="small"
        matBadgeColor="accent"
      >
        Mes en curso
      </button>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
