<div class="layout">
  <div>
    <mat-form-field appearance="fill" class="datepicker-field">
      <mat-label>Selecciona el més</mat-label>
      <mat-select
        disableRipple
        formControlName="month"
        (selectionChange)="filterByMonth($event)"
        (selectionChange)="showGraficas($event)"
      >
        <mat-option *ngFor="let month of months" [value]="month">{{
          month
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-grafica-mes
  [pruebaInput]="pruebaInput"
  ></app-grafica-mes>
  <app-grafica-tipo
  [pruebaInput]="pruebaInput"
  ></app-grafica-tipo>
  <div>
    <div class="title">
      <p class="p">Total año </p>  
    </div>
    <canvas
      baseChart
      class="chart"
      [data]="barChartData"
      [type]="barChartType"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      width="200"
      height="200"
    >
    </canvas>
  </div>
  <!-- <div *ngIf="sumaG && sumaIngreso; else notDatos">
    <div class="title">
      <p class="p">Gasto Mes {{selectedMonth}}</p>  
    </div>
    
    <canvas
      baseChart
      class="chart"
      [data]="barChartData"
      [type]="barChartType"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      width="200"
      height="200"
    >
    </canvas>
  </div> -->
  <ng-template #notDatos>
    <h3>No hay datos disponibles.</h3>
  </ng-template>
 
  <!-- <div *ngIf="sumaGastoMesPersonal && sumaGastoMesCasa && sumaGastoMesPersonal && sumaGastoMesMoto">
    <div class="title">
      <p class="p">Detalle Mes {{selectedMonth}}</p>  
    </div>
    <canvas
      baseChart
      class="chart"
      [data]="barChartData2"
      [type]="barChartType2"
      [labels]="barChartLabels2"
      [options]="barChartOptions"
      width="200"
      height="200"
    >
    </canvas>
  </div> -->
  
</div>
