<div class="layout">
  <div class="selectMonth">
    <mat-form-field appearance="fill" class="datepicker-field">
      <mat-label>Selecciona el més</mat-label>
      <mat-select
        disableRipple
        formControlName="month"
        (selectionChange)="filterByMonth($event)"
        (selectionChange)="showGraficas($event)"
      >
        <mat-option *ngFor="let month of months" [value]="month">{{
          month
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- <div class="grafics"> -->
    <div>
      <app-grafica-mes [pruebaInput]="pruebaInput"></app-grafica-mes>
    </div>
    <div>
      <app-grafica-tipo [pruebaInput]="pruebaInput"></app-grafica-tipo>
    </div>
    <div>
      <app-grafica-anio [pruebaInput]="pruebaInput"> </app-grafica-anio>
    </div>
    <ng-template #notDatos>
      <h3>No hay datos disponibles.</h3>
    </ng-template>
  </div>
<!-- </div> -->
