<div class="layout">
  <div>
    <mat-form-field appearance="fill" class="datepicker-field">
      <mat-label>Selecciona el més</mat-label>
      <mat-select disableRipple formControlName="month" (selectionChange)="filterByMonth($event)">
        <mat-option *ngFor="let month of months" [value]="month">{{
          month
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="sumaG && sumaIngreso; else notDatos">
    <canvas
      baseChart
      class="chart"
      [data]="barChartData"
      [type]="barChartType"
      [labels]="barChartLabels"
    >
    </canvas>
  </div>
  <ng-template #notDatos>
    <h3>No hay datos disponibles.</h3>
  </ng-template>
</div>
