<div class="container">
  <div class="box">
    <h2><span style="color: azure">Abril</span></h2>
    <div class="variable">
      <h2>
        <span style="color: azure">Gastos:</span>&nbsp;&nbsp;<span
          style="color: rgb(201, 12, 28)"
          >{{ sumaG }}</span
        >
      </h2>
    </div>
    <div class="variable">
      <h2>
        <span style="color: azure">Ingresos:</span>&nbsp;&nbsp;<span
          style="color: rgb(51, 135, 76)"
          >{{ sumaIngreso }}</span
        >
      </h2>
    </div>
    <button mat-raised-button color="warn" (click)="calcularDiferencia()">
      Calcular
    </button>

    <div
      class="variable"
      [ngClass]="{
        'diferencia-positiva': diferencia > 0,
        'diferencia-negativa': diferencia < 0
      }"
    >
      <h2>
        <span style="color: azure">Dif:</span>&nbsp;&nbsp;<span>{{ diferencia }}</span>
      </h2>
    </div>
  </div>
</div>

<button class="close-button" (click)="closeModal()">X</button>
