.button{
  z-index: 100;
   position: fixed;
   border:none;
   bottom: 50px;
   right: 10px;
   cursor: pointer;
   color: #000;
   background-color: blue;
   /* background: #eee; */
   border-radius: 50%;
   padding-top: 6px;
   padding-right: 8px;
   
}
.red-icon {
 color: rgb(237, 189, 15);
}