
.panel-container {
  display: flex;
  
  background-color:transparent;
  padding: 10px; 
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.panel-item {
  flex-basis: 23%;
}

  /* .panel{
    width: 100%;
    height: 100%;
    background-color: rgb(1, 9, 6);
    padding: 10px;
    

  } */
  .button{    
    display: inline-block;
    padding: 6px 6px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
    
    color: #160303;
    border-radius: 24px;
    border: none;
    transition: background-color 0.3s ease;
}

.my-button:hover {
    background-color: #45a049;
    
  }
  .info{
    text-align: center;
    width: 100%;
    background-color: rgb(34, 146, 108);
    border-radius: 50%;
    padding: 10px;
  }
  .info:hover{
    background-color: rgb(222, 87, 87);
  }
  .infoI{
    text-align: center;
    width: 100%;
    background-color: rgb(222, 87, 87);
    border-radius: 50%;
    padding: 10px;
  }
  .infoI:hover{
    background-color: rgb(34, 146, 108);
  }
  @media screen and (max-width: 767px) {
    .panel-container {
      /* flex-wrap: wrap; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
    }
    .panel-item {
      flex-basis: 100%;
      margin-bottom: 1em;
    }
    .button{    
      margin-left: 0px;
    }
  }