.title{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .p{
    color:red;
    font-weight: bold;
  }
  .graficas{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }